<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="">
<meta name="robots" content="index,follow,archive" />
<link rel="icon" type="image/png" href="" sizes="16x16" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="" />
<title>Sell Your iPhone for the Most Cash | Dollars4Devices.com</title>
<meta name="description" content="Sell your iPhone to Dollars4Devices.com for the Most Cash. Instant Quote. Free Shipping. Top Rated Service." />
<meta name="keywords" content="sell your iphone, sell my iphone, sell iphone" />

<link rel='stylesheet' type='text/css' href="index.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
<style>.async-hide { opacity: 0 !important} </style>
</head>
<body class=" 1column">
<section id="Dollars4Devices" ng-app="Dollars4Devices">
<nav class="top-nav" role="navigation">
<div class="row">
<a href="https://www.Dollars4Devices.com" class="logo">
<img src="https://www.itsworthmore.com/static/svg/iwm-logo-white.svg" alt="ItsWorthMore logo">
</a>
<div class="hamburger show-for-medium-down">
<i class="fi-list"></i>
</div>
<ul class="links show-for-large-up">
<li class="trade-in">
<a href="https://www.itsworthmore.com/sell">Start Selling</a>
<ul>
<li>
<a href="https://www.itsworthmore.com/sell/iphone" class='category-link'>
Sell iPhone
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/samsung" class='category-link'>
Sell Samsung
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/apple-watch" class='category-link'>
Sell Apple Watch
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/macbook" class='category-link'>
Sell MacBook
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/ipad" class='category-link'>
Sell iPad
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/android" class='category-link'>
Sell Android
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/mac-mini" class='category-link'>
Sell Mac Mini
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/laptop" class='category-link'>
Sell Laptop
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/imac" class='category-link'>
Sell iMac
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/mac-pro" class='category-link'>
Sell Mac Pro
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/surface-studio" class='category-link'>
Sell Surface Studio
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/surface" class='category-link'>
Sell Surface
</a>
</li>
</ul>
</li>
<li><a href="https://www.itsworthmore.com/bulk-trade-in">Bulk Trade-In</a></li>
<li><a href="https://buy.itsworthmore.com">Buy Certified Used</a></li>
<li><a href="https://www.itsworthmore.com/support">Support</a></li>
<li class="login">
<a href="https://www.itsworthmore.com/account/login" class="show-login-modal">
<span>Login</span>
</a>
</li>
<li class='cart'>
<a href="https://www.itsworthmore.com/sell/box">
<div class="box">
<span>
0
</span>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.84 30.09"><defs><style>.box-icon-class{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.84px;}</style></defs><title>box-icon</title><rect class="box-icon-class" x="0.92" y="0.92" width="32" height="6.98" rx="1.75" ry="1.75" /><rect class="box-icon-class" x="2.92" y="7.9" width="28" height="21.26" rx="1.75" ry="1.75" /></svg>
</div>
My Box
<div class="hide-for-large-up">
( 0 )
</div>
</a>
</li>
</ul>
</div>
</nav>
<div id="login-modal" class="reveal-modal medium" data-reveal aria-hidden="true" role="dialog" style="display: none;">
<h4 style='font-size: 1.7rem' class="text-center">Account Login</h4>
<div class="login-form" ng-controller='login-form-ctrl' ng-class="{ 'is-loading' : formDisabled }" ng-init="init()" ng-cloak>
<input type="hidden" name="_token" value="EiJpUJUmGpFZOPhrvMSOa9z30pSA3L8AGj5g3FP5">
<div class="row">
<div class="small-12 columns">
<small class="error" ng-show="errors.generic.length" ng-cloak>
{{ errors.generic[0] }}
</small>
</div>
</div>
<div class="row">
<div class="small-12 columns">
<label>
Email Address
<input type="email" ng-model="email" ng-enter="postLogin()" value="">
</label>
<small class="error" ng-show="errors.email.length" ng-cloak>
{{ errors.email[0] }}
</small>
</div>
</div>
<div class="row">
<div class="small-12 columns">
<label>
Password
<input type="password" ng-model="password" ng-enter="postLogin()" value="">
</label>
<small class="error" ng-show="errors.password.length" ng-cloak>
{{ errors.password[0] }}
</small>
</div>
</div>
<div class="row" ng-show="createAccount">
<div class="small-12 columns">
<label>
Confirm Password
<input type="password" ng-model="password_confirmation" ng-enter="postLogin()" value="">
</label>
<small class="error" ng-show="errors.password_confirmation.length" ng-cloak>
{{ errors.password_confirmation[0] }}
</small>
</div>
</div>
<div class="row" ng-show="createAccount">
<div class="columns small-12">
<div vc-recaptcha key="'6LfUvjcUAAAAAGGWnojdvzU_OC2tL5681-HONvcN'" ng-model="recaptcha" on-create="recaptchaWidgetId = widgetId"></div>
<br>
<small class="error" ng-show="errors.recaptcha.length" ng-cloak>
{{ errors.recaptcha[0] }}
</small>
</div>
</div>
<div class="row">
<div class="small-12 columns">
<p>
<button ng-click="postLogin()" type="button" class="small success submnit-btn">
{{ createAccount ? 'Create Account' : 'Login' }}
</button>
<span>or
<a href="#" class="create-acc-toggle" ng-click="createAccount = !createAccount; $event.preventDefault()">
{{ !createAccount ? 'create an account' : 'login to an existing account' }}
</a>
</span>
<br>
<a href="https://www.itsworthmore.com/account/forgot-password" class="forgot">
Forgot Your Password?
</a>
</p>
</div>
</div>
<hr>
<div class="row">
<div class="columns small-12">
<p class="font-size-0-9">
Or, login with:
&nbsp;&nbsp;
<a href="https://www.itsworthmore.com/account/social/google" class="primary-color">
<i class="fi-social-google-plus"></i>&nbsp; Google
</a>
&nbsp;&nbsp;
<a href="https://www.itsworthmore.com/account/social/facebook" class="primary-color">
<i class="fi-social-facebook"></i>&nbsp; Facebook
</a>
</p>
</div>
</div>
</div>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class="row ">
<div class="columns small-12">
</div>
</div>
<section class="sell-category-view heading">
<div class="row">
<div class="columns small-12 text-center">
<h1 class="no-margin">
Sell your <strong>Mac Mini</strong>
</h1>
<small class='text-center'>
<a href="https://www.itsworthmore.com/sell">
Looking to sell a different device? Click here!
</a>
</small>
<br>
</div>
</div>
</section>
<section class="sell-category-view grid light-grey">
<div class="row grey">
<div class="columns small-12 text-center">
<h2>Select your Mac Mini model to sell</h2>
<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">
<li>
<a href="https://www.itsworthmore.com/sell/mac-mini/mac-mini-2018" class="box">
<picture>
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/415206309-mac-mini-2018.jpg.webp" type="image/webp">
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/415206309-mac-mini-2018.jpg" type="image/jpeg">
<img src="https://www.itsworthmore.com/media/cache/opt-resize/300x300/415206309-mac-mini-2018.jpg" alt="Mac Mini (2018) device photo" class="">
</picture>
<br>
Mac Mini (2018)
<br>
<span class="success-color">
Cash in up to <strong>$1,995</strong>!
</span>
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/mac-mini/mac-mini-2014" class="box">
<picture>
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/638416490-mac-mini-2014.jpg.webp" type="image/webp">
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/638416490-mac-mini-2014.jpg" type="image/jpeg">
<img src="https://www.itsworthmore.com/media/cache/opt-resize/300x300/638416490-mac-mini-2014.jpg" alt="Mac Mini (2014) device photo" class="">
</picture>
<br>
Mac Mini (2014)
<br>
<span class="success-color">
Cash in up to <strong>$725</strong>!
</span>
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/mac-mini/mac-mini-2011-2012" class="box">
<picture>
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/638416490-mac-mini-2011-2012.jpg.webp" type="image/webp">
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/638416490-mac-mini-2011-2012.jpg" type="image/jpeg">
<img src="https://www.itsworthmore.com/media/cache/opt-resize/300x300/638416490-mac-mini-2011-2012.jpg" alt="Mac Mini (2011-2012) device photo" class="">
</picture>
<br>
Mac Mini (2011-2012)
<br>
<span class="success-color">
Cash in up to <strong>$482</strong>!
</span>
</a>
</li>
<li>
<a href="https://www.itsworthmore.com/sell/mac-mini/mac-mini-2010" class="box">
<picture>
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/3188351278-mac-mini-2010.jpg.webp" type="image/webp">
<source srcset="https://www.itsworthmore.com/media/cache/opt-resize/300x300/3188351278-mac-mini-2010.jpg" type="image/jpeg">
<img src="https://www.itsworthmore.com/media/cache/opt-resize/300x300/3188351278-mac-mini-2010.jpg" alt="Mac Mini (2010) device photo" class="">
</picture>
<br>
Mac Mini (2010)
<br>
<span class="success-color">
Cash in up to <strong>$206</strong>!
</span>
</a>
</li>
</ul>
</div>
</div>
</section>
<section class="widget why-use-us ">
<div class="row">
<div class="columns small-12">
<div class="heading">
<h3>Why use us?</h3>
<p>
Lots of choices out there.
<br class="show-for-medium-down">
Here are a few reasons you will love us.
</p>
</div>
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 same-height-watch">
<li class="lg-b md-r md-b">
 <div class="border-box same-height">
<div class="img lazy" background-src="https://www.itsworthmore.com/media/cache/opt/2467575568-stars.png"></div>
<h5>1000+ 5 Star Ratings</h5>
<p class="hide-for-small-only">Just read the reviews &mdash; our customers love us.</p>
</div>
</li>
<li class="lg-b lg-l lg-r md-b">
<div class="border-box same-height">
<div class="img lazy" background-src="https://www.itsworthmore.com/media/cache/opt/3117360316-bbb.png"></div>
<h5>A+ With the BBB</h5>
<p class="hide-for-small-only">A+ rating with the Better Business Bureaus.</p>
</div>
</li>
<li class="lg-b md-r md-b">
<div class="border-box same-height">
<div class="img fast-money lazy" background-src="https://www.itsworthmore.com/media/cache/opt/2838824862-fast-money.png"></div>
<h5>We Pay Fast!</h5>
<p class="hide-for-small-only">Assured payments within 2 days.</p>
</div>
</li>
<li class="md-b">
<div class="border-box same-height">
<div class="img lazy" background-src="https://www.itsworthmore.com/media/cache/opt/780326340-news.png"></div>
<h5>As Seen On</h5>
<p class="hide-for-small-only">We're getting great recognition in the news.</p>
</div>
</li>
<li class="lg-l lg-r md-r">
<div class="border-box same-height">
<div class="img lazy" background-src="https://www.itsworthmore.com/media/cache/opt/2719035467-higher-offer.png"></div>
<h5>Higher Offer</h5>
<p class="hide-for-small-only">Our offer is higher than our competitors.</p>
</div>
</li>
<li>
<div class="border-box same-height">
<div class="img lazy" background-src="https://www.itsworthmore.com/media/cache/opt/2368921443-elite-rating-9.png"></div>
<h5>Elite Rating</h5>
<p class="hide-for-small-only">A top rating from ResellerRatings.com.</p>
</div>
</li>
</ul>
</div>
</div>
</section>
<div class="clear"></div>
<footer class="footer">
<div class="row">
<div class="small-12 medium-4 large-2 columns customer-service">
<h6>Customer Service</h6>
<ul>
<li><span>1 (855) 487-9678</span></li>
<li><a href="https://www.itsworthmore.com/support">Support &amp; FAQ</a></li>
</ul>
</div>
<div class="small-12 medium-4 large-2 columns about-us">
<h6>About Us</h6>
<ul>
<li><a href="https://www.itsworthmore.com/about">About</a></li>
<li><a href="https://www.itsworthmore.com/blog">Blog</a></li>
<li><a href="https://www.itsworthmore.com/become-an-affiliate">Become an Affiliate</a></li>
<li><a href="https://www.itsworthmore.com/itsworthmore-scholarship">Scholarship</a></li>
</ul>
</div>
<div class="small-12 medium-4 large-3 columns connect-with-us">
<h6>Connect With Us</h6>
<ul>
<li>
<a href="https://www.instagram.com/itsworthmore" target="_blank" rel="noopener" lazy-class="insta" class="social lazy">Instagram</a>
</li>
<li>
<a href="https://www.facebook.com/ItsWorthMore" target="_blank" rel="noopener" lazy-class="fb" class="social lazy">Facebook</a>
</li>
<li>
<a href="https://www.youtube.com/channel/UC8aSe4JY7RUKEeHw3KVsIAA" target="_blank" rel="noopener" lazy-class="yt" class="social lazy">Youtube</a>
</li>
<li>
<a href="https://twitter.com/itsworthmore" target="_blank" rel="noopener" lazy-class="twit" class="social lazy">Twitter</a>
</li>
</ul>
</div>
<div class="clear show-for-medium-only"></div>
<div class="small-12 medium-8 medium-offset-2 large-5 large-offset-0 columns subscribe">
<h6 class='hide-for-medium-only'>Subscribe</h6>
<div class="form-wrap">
<form method="POST" action="https://www.itsworthmore.com/widget/newsletter/subscribe" class="widget newsletter">
<input type="hidden" name="_token" value="EiJpUJUmGpFZOPhrvMSOa9z30pSA3L8AGj5g3FP5">
<div class="row collapse">
<div class="small-8 medium-10 columns">
<input type="email" name="email" placeholder="Enter your email">
</div>
<div class="small-4 medium-2 columns">
<input class="button postfix success" value="Go" type="submit">
</div>
</div>
<span class="label success"></span>
<div class="clear"></div>
<span class="label alert"></span>
<div class="clear"></div>
<span>Sign up to receive news, tips, and offers.</span>
</form>
<hr>
<a href="https://www.itsworthmore.com/privacy-policy">Privacy Policy</a>
<span class='spacer'>|</span>
<a href="https://www.itsworthmore.com/terms-and-conditions">Terms and Conditions</a>
</div>
</div>
</div>
<div class="clear"></div>
<div class="bottom">
<div class="row">
<div class="column small-12 medium-9">
<p class="no-margin">
&copy; 2019 Dollars4Devices.com &mdash; All Rights Reserved
</p>
</div>
</div>
</div>
</footer>
<script src="https://www.itsworthmore.com/js/scripts-iwm.js?0bcc8f06"></script>
<script>
    
    var baseUrl = 'https://www.itsworthmore.com';

    
    </script>
</section>
</body>
